:root {
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-background: #2f303a;
    --color-background-box1: #f5f5f5;
    --color-background-box2: #f5f4fA;
    --color-inverted: #2196f3;
    --color-white: #fff;
    --shadow-btn-color: rgba(0, 0, 0, 0.15);
    --border-color: #eeeeee;
    --color-icon: #afb1b8;
    --color-time: cubic-bezier(0.4, 0, 0.2, 1);
}